.certificate{
    background-color: rgb(52, 4, 87);
    margin-top: 5vh;
    width: 80vw;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}
.certificate:hover{
    border: 2px solid white;
}

a{
    color: blue;
}

p{
    margin-top: 2.5vh;
   
}

span{
    margin-top: 2.5vh;
    
}

