
#sec2{

    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(5, 5, 73); */
    background-color: rgb(3, 3, 51);
    margin-top: 4vh;
}

.box1{
    width: 25vw;
    height: 50vh;
    background-color: rgb(52, 4, 87);
    
}

.box2{
    width: 25vw;
    height: 50vh;
    background-color: rgb(52, 4, 87);
}
.box3{
    width: 25vw;
    height: 50vh;
    background-color: rgb(52, 4, 87);
}
.line{
    background-color: white;
    width: 20vw;
    height: 2px;
    margin-left: 2.5vw;
    margin-top: 10px;
}

.title{
    text-align: center;
    margin-top: 20px;
}

.year{
    text-align: center;
    /* margin-top: 20px; */
}

.info{
    font-size: larger;
    margin-top: 5vw;
    text-align: center;
}